<div class="sidebar">
    <div class="sidebar-item">
        <a href="/dashboard">Dashboard</a>
    </div>
    <div class="sidebar-item">
        <a href="/dashboard/addpost">add Post</a>
    </div>
    <div class="sidebar-item">
        <a href="/dashboard/allpost">All Post</a>
    </div>
    <div class="sidebar-item">
        <a href="/dashboard/all-slide/add">add Slide</a>
    </div>
    <div class="sidebar-item">
        <a href="/dashboard/all-slide">All Slide</a>
    </div>
    <div class="sidebar-item">
        <a href="/dashboard/settings">website settings</a>
    </div>
    <div class="sidebar-item">
        <a href="/dashboard/alluser">All User</a>
    </div>
</div>